# Day - 20 DIY

**Q1. Problem Statement: Measures of Dispersion**

Load the “HRdataset_v14.csv”dataset  into  a  DataFrame  and  group  the  data based on the “Department”column. From the grouped DataFrame and perform the following tasks:

1.CalculatetheMean and Median, of the “Salary” column.

2.Find out which Department has the highest number of employees

3.Calculate the standard deviation and variance of the“Salary”column

4.Find the interquartile range of the "Salary" column

5.Find skewness and kurtosis of the original dataset

6.Find the z-score of the "Salary" column

7.Find the 30th percentile of the "Salary" column

8.Find the Quartiles of the "GenderID" column (You can set quartile values of your choice)

# importing the HRdataset_v14.csv file

In [31]:
import pandas as pd
#Load the dataset
df = pd.read_csv("HRdataset_v14.csv")
print(df)

                Employee_Name  EmpID  MarriedID  MaritalStatusID  GenderID  \
0         Adinolfi, Wilson  K  10026          0                0         1
1    Ait Sidi, Karthikeyan     10084          1                1         1
2           Akinkuolie, Sarah  10196          1                1         0
3                Alagbe,Trina  10088          1                1         0
4            Anderson, Carol   10069          0                2         0
..                        ...    ...        ...              ...       ...
306            Woodson, Jason  10135          0                0         1
307        Ybarra, Catherine   10301          0                0         0
308          Zamora, Jennifer  10010          0                0         0
309               Zhou, Julia  10043          0                0         0
310             Zima, Colleen  10271          0                4         0

     EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
0              1       5            4                       0   62506  ...
1              5       3            3                       0  104437  ...
2              5       5            3                       0   64955  ...
3              1       5            3                       0   64991  ...
4              5       5            3                       0   50825  ...
..           ...     ...          ...                     ...     ...  ...
306            1       5            3                       0   65893  ...
307            5       5            1                       0   48513  ...
308            1       3            4                       0  220450  ...
309            1       3            3                       0   89292  ...
310            1       5            3                       0   45046  ...

        ManagerName  ManagerID  RecruitmentSource PerformanceScore  \
0    Michael Albert       22.0           LinkedIn          Exceeds
1        Simon Roup        4.0             Indeed      Fully Meets
2    Kissy Sullivan       20.0           LinkedIn      Fully Meets
3      Elijiah Gray       16.0             Indeed      Fully Meets
4    Webster Butler       39.0      Google Search      Fully Meets
..              ...        ...                ...              ...
306  Kissy Sullivan       20.0           LinkedIn      Fully Meets
307  Brannon Miller       12.0      Google Search              PIP
308      Janet King        2.0  Employee Referral          Exceeds
309      Simon Roup        4.0  Employee Referral      Fully Meets
310   David Stanley       14.0           LinkedIn      Fully Meets

     EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
0                4.60               5                    0
1                4.96               3                    6
2                3.02               3                    0
3                4.84               5                    0
4                5.00               4                    0
..                ...             ...                  ...
306              4.07               4                    0
307              3.20               2                    0
308              4.60               5                    6
309              5.00               3                    5
310              4.50               5                    0

    LastPerformanceReview_Date DaysLateLast30 Absences
0                    1/17/2019              0        1
1                    2/24/2016              0       17
2                    5/15/2012              0        3
3                     1/3/2019              0       15
4                     2/1/2016              0        2
..                         ...            ...      ...
306                  2/28/2019              0       13
307                   9/2/2015              5        4
308                  2/21/2019              0       16
309                   2/1/2019              0       11
310                  1/30/2019              0        2

[311 rows x 36 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002407729DD90>

In [4]:
#group by "Department"
grouped_df = df.groupby("Department")
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002407729DD90>

## 1.Calculate the Mean, Median of Salary colomn

In [6]:
#calculate mean and median salary for each department
mean_salary = grouped_df["Salary"].mean()
median_salary= grouped_df["Salary"].median()
print( mean_salary)
print( median_salary)

Department
Admin Offices            71791.888889
Executive Office        250000.000000
IT/IS                    97064.640000
Production               59953.545455
Sales                    69061.258065
Software Engineering     94989.454545
Name: Salary, dtype: float64
Department
Admin Offices            63003.0
Executive Office        250000.0
IT/IS                    92328.5
Production               59472.0
Sales                    65310.0
Software Engineering     95660.0
Name: Salary, dtype: float64

## 2.find out the which Department has highest number of employees.

In [10]:
#count employee in each department 
employee_count= grouped_df.size()

#find the department with the highest count
highest_count_dept = employee_count.idxmax()
print("This Department has highest number of employees;", highest_count_dept)

This Department has highest number of employees; Production

## 3. calculate the Standard deviation and Variance of employee

In [11]:
#calculate the standard deviation and variance.
std_dev_salary= grouped_df["Salary"].std()
variance_salary= grouped_df["Salary"].var()
print("Department-wise Standard Deviation of salary:", std_dev_salary)
print("Department-wise Variance of salary:", variance_salary)

Department-wise Standard Deviation of salary: Department
Admin Offices           21706.397164
Executive Office                 NaN
IT/IS                   33209.612190
Production              11422.656822
Sales                   21271.393236
Software Engineering     9566.505698
Name: Salary, dtype: float64
Department-wise Variance of salary: Department
Admin Offices           4.711677e+08
Executive Office                 NaN
IT/IS                   1.102878e+09
Production              1.304771e+08
Sales                   4.524722e+08
Software Engineering    9.151803e+07
Name: Salary, dtype: float64

## 4.Find the interquartile range of the "Salary" column

In [12]:
#calculate IQR for each department
iqr_salary = grouped_df["Salary"].quantile(0.75) - grouped_df["Salary"].quantile(0.25)
print("Interquartile Range of Salary per Department:", iqr_salary)

Interquartile Range of Salary per Department: Department
Admin Offices           38046.00
Executive Office            0.00
IT/IS                   29426.75
Production              11048.00
Sales                    8945.00
Software Engineering    11206.00
Name: Salary, dtype: float64

## 5.find Skewness and Kurtosis of the original dataset

In [18]:
#calculate skewness and kurtosis 
skewness = df["Salary"] .skew()
kurtosis = df["Salary"].kurtosis()
print("Skewness of Salary:", skewness)
print("Kurtosis of Salary:", kurtosis)

Skewness of Salary: 3.30618080924006
Kurtosis of Salary: 15.452148882638895

## 6. find the z-score of the "Salary" column

In [28]:
#calculate z-scores 
z_scores =(df["Salary"] - df["Salary"].mean())/ df["Salary"].std()
print("Z-scores of Salary:", z_scores)

Z-scores of Salary: 0     -0.258965
1      1.407832
2     -0.161615
3     -0.160184
4     -0.723296
         ...
306   -0.124328
307   -0.815200
308    6.019458
309    0.805804
310   -0.953016
Name: Salary, Length: 311, dtype: float64

## 7. find the 30th  Percentile of the Salary column

In [19]:
#calculate 30th percentile
percentile_30 = df["Salary"].quantile(0.3)
print("30th percentile of salary:", percentile_30)

30th percentile of salary: 57748.0

## 8. Find the Quartile of the GenderID column

In [26]:
#calculate quartile for GenderID
#(example quartiles: 25th, 50th, 75th)
q1_gender = df["GenderID"].quantile(0.25)
q2_gender = df["GenderID"].quantile(0.50)
q3_gender = df["GenderID"].quantile(0.75)
print("Quantiles of GenderID:") 
print("Q1:", q1_gender)
print("Q2:", q2_gender)
print("Q3:", q3_gender)

Quantiles of GenderID:

Q1: 0.0
Q2: 0.0
Q3: 1.0